@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Style tambahan jika perlu */
body {
  @apply bg-gray-50;
}

/* Animasi sederhana untuk modal */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.3s ease-out;
}